@charset "UTF-8";
:root {
    --fonte0:arial, helvetica, sans-serif;

}





header {
    padding: 80px;
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte0);
    font-size: 7em;

}
